{% extends 'archive/base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Каталог интервью</h1>
    <div class="row">
        {% for video in videos %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if video.cover_image %}
                    <img src="{{ video.cover_image.url }}" class="card-img-top" alt="{{ video.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                    <p class="card-text">{{ video.description|truncatechars:100 }}</p>
                    <a href="{% url 'archive:detail' video.id %}" class="btn btn-primary">Смотреть интервью</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>Пока нет доступных интервью.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}